body {
  background-color: #c1cce0;
  font-family: 'Jost',sans-serif;
  color: #fff;
}
ul {
  text-align: center;
}
label {
  color: #232c3d;;
}
h1, h2 {
  text-align: center;
  font-size: 28px;
  color: #232c3d;
}
.date{
  margin-top: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.container {
  width: 400px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

input[type="text"]{
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 274px;
  color: black;
}

input[type="text"]:focus {
  outline: none;
}

input[type="Submit"]{
  margin: 10px auto;
  display: block;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

input[type="Submit"]:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.controls {
  width: 294px;
  margin: 15px auto;
}

.add {
  padding: 5px;
  border: 1px solid;
  border-radius: 25px;
  cursor: pointer;
}

.remove {
  float: right;
  padding: 5px;
  border: 1px solid;
  border-radius: 25px;
  cursor: pointer;
}
.controls button i{
  margin-right: 5px;
}

.remove:hover, .add:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

/*result list in input fields*/
/* Initially hide the airport-list when it's empty */
#airport-list:empty {
    display: none;
}

/* Style the airport-list container */
#airport-list {
    width: 360px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
    overflow-y: scroll;
    background:#c1cce0;
}

/* Style individual list items */
#airport-list li {
    color: black;
    padding-bottom: 8px; /* Add padding to each list item for spacing */
    cursor: pointer; /* Change cursor to pointer when hovering over list items */
}

/* Style list item hover state */
#airport-list li:hover{
  background: #2691d9;
}
